*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  padding: 2em;
}

/* slideshow container */
.slideshow {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.thumb-bar img {
  display: block;
  width: 100px;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.center {
  justify-content: center;
}

.col {
  flex-direction: column;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  /* background change */
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
