h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

.container {
  /* margin-inline: auto; */
  margin: 1rem auto 0;
  width: min(90%, 70.5rem);
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.thumb-bar img {
  display: block;
  width: 100px;
  float: left;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 1rem;
}

.col {
  flex-direction: column;
}
